*,
*::before,
*::after {
  box-sizing: border-box;
  color: #333;
}
a {
  text-decoration: none;
  user-select: none;
  user-select: none;
}
button {
  cursor: pointer;
  user-select: none;
}
header,
main,
footer {
  width: 100vw;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

